<h1><%= @shoe.name%>  </h1>


<h2> <%= @shoe.brand_name %> </h2>
<div>
  <p><%= @shoe.description %></p>
</div>


<%= link_to "Edit #{@shoe.name}", edit_shoe_path(@shoe) if @shoe.user == current_user%>

<br>

<%= link_to "See all Reviews", shoe_reviews_path(@shoe) %>
